* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;/*размер шрифта*/
    color: #0A143A;/*цвет текста*/
}

.header {    
    padding: 30px 0px 30px 0px;
    margin: 0px 0px 12px 0px;
}


.container {
    max-width: 1146px;/*максимальная ширина*/
    margin: auto;/*автоматическое выравнивание по середине*/
}



.navbar {
    display: flex;/*делаем гибкий блок*/
    align-items: center;/*выравниванием по вертикали по центру*/
    justify-content: space-between;/* разбросать элементы по краям*/
    margin: 0px 0px 24px 0px;
}
/*меню в шапке*/
.navbar-menu {
    margin-right: auto;/*автоматический отпуск справа*/
}
.menu {
    list-style: none;
    margin: 0;/*обнуляем внешние отступы*/
    padding: 0;/*обнуляем внутренние отступы*/
    padding: 0 22px;/*добавляем внутренние отступы как по макету*/
    display: flex;/*делаем гибкий блок*/
}
/*для всех пунктов меню кроме последнего*/
.menu-item:not(:last-child) {
    margin-right: 14px;/*отступ справа 14px*/
}
.menu-link {
    text-decoration: none;/*отключаем подчеркивание ссылок*/
    color: inherit; /*возьми цвет текста как у родителя (body)*/
}
.button {
    text-decoration: none;
    display:inline-block;
    padding: 10px 15px;/*расстояние сверху и снизу 10px, справа и слева 15px*/
    cursor: pointer;
}
.button-link {
    color: inherit;
}
.button-primary {
    background-color: #256eeb;/*цвет фона*/
    border-radius: 5px;/*скругление углов*/
    color: #fff;
}
.search-panel {
    height: 50px;/*высота панели поиска*/
    background-color: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input {
    flex-grow: 1;/*растягивается на все свободное место*/
    border-radius: 5px;
    border: none;/*отключаем обводку*/
    padding: 0px 22px;
}
.search-button {
    background-color: #256EEB;
    border: none;/*отключаем обводку*/
    color: #fff;
    padding: 0px 17px 0px 20px;
    display: flex;
    align-items: center;
}
.search-button-text {
    margin: 0px 0px 0px 5px;
}
.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}
.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}
.cards {
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;      
}
.card {
    margin-bottom: 20px;
    box-sizing: border-box;
    flex: 0 0 30%;
    
}
.card:not(:nth-child(3n)) {
    margin-right: 20px;
}
.card-title {
    font-size: 16px;
    line-height: 19px;
    color:#256eeb;
    margin: 12px 0px 5px 0px;

}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
}
.card-link {
    text-decoration: none;
}
.card-price {
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 10px 0px;
    display: block;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin: 0px 0px 4px 0px;
}
.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}
.service {
    margin-bottom: 25px;
}
.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 7px 0px 5px 0px;
}
.service-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;
}
.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 5px;
}
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}